{% extends "homepage/base.html" %}

{% load static %}

{% block content %}

<div class="hero-wrap style3">
    <div class="hero-slider-item style2 bg-f hero-bg-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-9 col-sm-8">
                    <div class="hero-content">
                        <span>GIỚI THIỆU VỀ GIA ĐÌNH ONG VÀNG </span>
                        <h1>Gia đình Ong vàng bao gồm bốn thành viên.</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="testimonial-wrap pt-100">
    <div class="container">
        <div class="testimonial-angle-shape">
            <img src="{% static 'img/triangle-shape-1.png' %}" alt="Image">
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="section-title style1 mb-40 text-center px-0 md-center ">

                    <h2>GIỚI THIỆU THÀNH VIÊN TRONG GIA ĐÌNH ONG VÀNG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slider-one style1 swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-item style3">
                                <div class="client-area">
                                    <div class="row align-items-center">
                                        <div class="col-7">
                                            <div class="client-wrap">
                                                <div class="client-img">
                                                    <img src="{% static 'img/index/client2.png' %}" alt="Image">
                                                </div>
                                                <div class="client-info">
                                                    <h6>Chị Ong</h6>
                                                    <p>Chị Ong Ham Học</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end">
                                            <ul class="rating style2 list-style">
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-quote">
                                    <p>Thành viên đầu tiên là ong vàng ham học. Bạn ấy là cậu cả trong gia đình rất chăm
                                        học và ưa thích chia sẻ những bài học bổ ích giúp các bạn làm quen và biết cách
                                        đánh máy mười ngón.</p>
                                </div>
                                <div class="quote-icon">
                                    <img src="{% static 'img/testimonial/quote-icon-bg-2.svg' %}" alt="Image">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item style3">
                                <div class="client-area">
                                    <div class="row align-items-center">
                                        <div class="col-7">
                                            <div class="client-wrap">
                                                <div class="client-img">
                                                    <img src="{% static 'img/index/client1.png '%}" alt="Image">
                                                </div>
                                                <div class="client-info">
                                                    <h6>Cậu Ong</h6>
                                                    <p>Cậu Ong Chăm Chỉ</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end">
                                            <ul class="rating style2 list-style">
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-quote">
                                    <p>Cậu ba trong gia đình chính là ong vàng chăm chỉ. Bạn ấy luôn có niềm đam mê
                                        luyện tập nâng cao kĩ năng thực hành đánh máy mười ngón nhờ thông qua thử thách
                                        truy lùng kho báu.</p>
                                </div>
                                <div class="quote-icon">
                                    <img src="{% static 'img/testimonial/quote-icon-bg-2.svg' %}" alt="Image">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item style3">
                                <div class="client-area">
                                    <div class="row align-items-center">
                                        <div class="col-7">
                                            <div class="client-wrap">
                                                <div class="client-img">
                                                    <img src="{% static 'img/index/client3.png' %}" alt="Image">
                                                </div>
                                                <div class="client-info">
                                                    <h6>Chú Ong</h6>
                                                    <p>Chú Ong Tài Năng</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end">
                                            <ul class="rating style2 list-style">
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-quote">
                                    <p>Ong vàng tài năng chính là cậu út trong gia đình. Bạn ong vàng rất tài giỏi luôn
                                        muốn chinh phục vị trí đầu bảng xếp hạng trong cuộc thi Thắng bại tại kỹ năng.
                                    </p>
                                </div>
                                <div class="quote-icon">
                                    <img src="{% static 'img/testimonial/quote-icon-bg-2.svg' %]" alt="Image">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-item style3">
                                <div class="client-area">
                                    <div class="row align-items-center">
                                        <div class="col-7">
                                            <div class="client-wrap">
                                                <div class="client-img">
                                                    <img src="{% static 'img/index/client4.png' %}" alt="Image">
                                                </div>
                                                <div class="client-info">
                                                    <h6>Cụ Ong</h6>
                                                    <p>Cụ Ong Thông Thái</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end">
                                            <ul class="rating style2 list-style">
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                                <li><i class="las la-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-quote">
                                    <p>Thành viên kỳ cựu trong gia đình chú ong đó là ong vàng thông thái. Ông chính là
                                        người ban tặng cho các bạn những món quà vô giá được đút kết từ kinh nghiệm và
                                        các tài liệu về kỹ năng đánh máy mười ngón hiệu quả.</p>
                                </div>
                                <div class="quote-icon">
                                    <img src="assets/img/testimonial/quote-icon-bg-2.svg" alt="Image">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-pagination style2 testimonial-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}