{% extends "homepage/base.html" %}

{% load static %}

{% block content %}

<div class="content-wrapper">

    <div class="breadcrumb-wrap bg-f br-bg-1">
        <div class="overlay op-8 bg-white"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                    <div class="breadcrumb-title">
                        <h2>Tài Liệu</h2>
                        <ul class="breadcrumb-menu list-style">
                            <li><a href="{% url 'homepage:index' %}">Trang Chủ </a></li>
                            <li>Tài Liệu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="blog-details-wrap ptb-100 bg-selago">
        <div class="container">
            <div class="row gx-5">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                    <!-- <div class="row justify-content-center"> -->
                    <div class="row">
                        {% csrf_token %}
                        {% for doc in page_obj %}
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-card style2">
                                <div class="blog-img">
                                    <img src="{{doc.image.url}}" alt="Image">
                                     
                                </div>
                                <div class="blog-info">
                                    
                                    <h3 class="blog-title"><a href="blog-details-left-sidebar.html">{{doc.title}}</a></h3>
                                    <ul class="post-meta list-style">
                            <li><i class="las la-clock"></i><a href="blog-details-right-sidebar.html">{{doc.createdate}}</a></li>
                            
                                </ul>
                                    <!-- <p>Mô tả</p> -->
                                    <a href="{% url 'homepage:docdetail' doc.pk%}" class="link">Xem thêm<i
                                            class="las la-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="page-navigation">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <ul class="page-nav list-style">
                                    {% if page_obj.has_previous %}
                                        <a class="btn btn-info" href="?page=1" role="button">Trang Đầu</a>
                                        <!-- <a href="?page=1">&laquo; Trang Đầu </a> -->
                                        <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}" role="button"> Trang Trước </a>
                                    {% endif %}
                                    <span class="btn btn-outline-danger" class="current" role="button">
                                        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}" role="button"> Trang Kế </a>
                                        <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}" role="button"> Trang Cuối  &raquo;</a>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                    <div class="sidebar">
                        <form>
                        <div class="sidebar-widget search-box ">
                            <input name="q" type="search" placeholder="Nhập từ khóa tìm kiếm">
                            <button type="submit"> <i class="flaticon-search-interface-symbol"></i> </button>
                        </div>
                        </form>

                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}